.tekst-grootste {
    font-size: 24px;
}

.tekst-geel {
    color: #F8B800;
}

.tekst-blauw {
    color: #217998;
}

.tekst-grijs {
    color: #777777;
}

.tekst-normaal {
    font-size: 16px;
}

.text-rechts {
    text-align: right;

}

.text-links {
    text-align: left;

}

.text-midden {
    text-align: center;
}

.text-underline {
    text-decoration: underline;

}

.bold {
    font-weight: bold;
}

.bg-blauw {
    background-color: #217998;
}

.bg-geel {
    background-color: #F8B800;
    ;
}
