body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
}

h1 {
    font-style: italic;
    color: #FF6F00;
}


#webcam {
    clear: both;
    display: block;
    margin: 10px;
    background: #000000;
    width: 640px;
    height: 480px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 25px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 20px 2px;
    cursor: pointer;

}

.removed {
    display: none;
}

#status {
    font-size:150%;
}